<app-header></app-header>

<main class="bg-gray-900 text-white">
    <app-hero-section></app-hero-section>
    <app-about-us-section></app-about-us-section>
    <app-events-section></app-events-section>
    <app-instalaciones-section></app-instalaciones-section>
    <app-entrenamientos-section></app-entrenamientos-section>
    <app-trainers-section ></app-trainers-section>
    <!-- <app-price-management></app-price-management> -->
    <app-location-section></app-location-section>
</main>

<app-footer></app-footer>