@import "tailwindcss";

.nav-link-landing {
    @apply transition-colors cursor-pointer hover:text-fuchsia-400;
}

.active-link {
    /* Usando el ! al principio para evitar el error de compilación */
    @apply !text-fuchsia-400 !border-b-2 !border-fuchsia-500 !pb-1;
}

/* Animación igual a tu landing */
.animate-slide-down {
    animation: slideDown 0.3s ease-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Asegura que el blur funcione en todos los navegadores */
:host {
    display: block;
    position: relative;
    z-index: 1000; /* Asegura que el contenedor del componente también tenga prioridad */
}

header {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}